{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
    <h1 style="text-align: center">Liste des tickets</h1>

    <button type="button" class="btn btn-primary">
        <a style="color: white; text-decoration: none" href="{{ path('app_ticket_new') }}">Créer un nouveau ticket</a>
    </button>
    <form class="form-inline my-2 my-lg-0" method="get" style="text-align: center">
        <input  type="date" name="date" aria-label="Recherche">
        <button class="btn btn-primary" type="submit">Recherche</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.label }}</td>
                <td>{{ ticket.description }}</td>
                <td>
                    <button type="button" class="btn btn-primary">
                        <a style="color: white;text-decoration: none" href="{{ path('app_ticket_show', {'id': ticket.id}) }}">Voir</a>
                    </button>
                    <button type="button" class="btn btn-primary">

                        <a style="color: white;text-decoration: none" href="{{ path('app_ticket_edit', {'id': ticket.id}) }}">Modifier</a>
                    </button>

                    <button>
                        {{ include('ticket/_delete_form.html.twig') }}
                    </button>

                </td>:
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
