{% extends 'base.html.twig' %}

{% block title %}Création de votre compte{% endblock %}

{% block body %}
    <h1 style="text-align: center">Inscription</h1>

<div class="container" >
    <div class="row">
        <div>
            <div>
                <div class="card bg-light mb-3 mt-5">
                    <div class="card-body">

                    {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                        {{ form_row(registrationForm.agreeTerms) }}
                        <div style="text-align: center">
                            <button type="submit" class="btn btn-lg btn-primary">S'inscrire</button>
                        </div>
                    {{ form_end(registrationForm) }}

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
